<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        <strong>Members</strong>
      </h2>
      <hr>
      <p><a routerLink="/userSignUp" routerLinkActive="active">Sign Up</a></p>

      <div class="table-responsive">
        <table class='table' *ngIf='users && users.length'>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users'>
              <td>{{user.fName}}</td>
              <td>{{user.lName}}</td>
              <td>{{user.emailID}}</td>
              <td>{{user.role}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
